/*---banner---*/
header{
    padding-top: 2%;
    display:flex;
    padding-bottom:2%;
    background-color: #28aee4;
}

body>header>h1{
    font-size: 400%;
	position:static;
	width:100%;
	margin:0px;
    padding-top: 0;
    height: 50px;
    color: white;
	text-align:center;
} 

header img{
    height:100%;
    width:100%;
    margin-left:1em
}

header>h2{
    text-align: center;
    font-size:300%;
    background-color: #28aee4;
    padding:2%;
    margin-top:0;
    margin-bottom:0;
}

/*---body---*/
body>div>h1{
    color:#28aee4;
}
body{
    margin: 0;
    font-family: Noto-sans, sans-serif;
}

div{
    padding: 5.5rem 0;
    margin: 0 5vw;
}

div p{
    margin-bottom: 1.87rem;
    font-size: 1rem;
    color: #818184;
    line-height:1.5;
    font-weight: 400;
}

div ul{
    color: #818184;
    font-size:.95rem;
}
div li{
    line-height: 1.5;
}
 
div a{
    text-decoration: none;
    color:#28aee4;
}

/*---footer---*/
footer{
    font-size:150%;
   padding-top:1em;
    background-color: #28aee4;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    color:white;
    text-align: center;
    flex-direction: row;
    padding-bottom:2%;
}

footer>a{
    font-weight:bold;
    color:white;
    font-size:150%;
    text-decoration: none;
}

footer img{
    height:50%;
}